<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css"> 
<body>
    <div class="video-container">
        <video autoplay loop muted class="background-video">
            <source src="https://media-hosting.imagekit.io//448213190a7d43d9/woman-doing-financial-management-animation-download-in-lottie-json-gif-static-svg-file-formats--analytics-logo-cash-business-people-pack-animations-6880208.mp4?Expires=1834938056&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=g3GOcv1duQqs5isRFm6ZYK~3z514fBKPg5TYtiICNE98LhsZ~NSiSaPOsN~io7I04jOAkgb~Q7U0Slw8Nhw1msTRy7qEtQRwAbTkRBKyOZlmVRJLGi0HZNkhceiPgoCDVY7eRG502OqHORUNWqTnVMMf4SNKdAeX37VaJ56rfPt0EW1quKupUDXED7yrq4~BD~5Xb3M3n30ydLeU1zwhgLIIikS3PrNXlnv~Y8iz1dbMN0flkR54B3~lbkCSwylmvH6gv7mOuS4DAh3cttzWrW~ILjHX~3B9GpgMNklEevN8H1Uv0wg1u2SvgySGGWYHVD2Sk~ltwJR9BhR0xxwA8w__" type="video/mp4">
        </video>
    </div>

    <div class="login-container">
        <div class="login-form">
            <h2>Login</h2>
            <form action="login_process.php" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value=" Login" >
            </form>
           
            <div class="forgot-password">
                <a href="home.html">Forgot password?</a>
            </div>
        </div>
    </div>
</body>
</html>
